<form [formGroup]="myForm" (ngSubmit)="onSaveData()" class="form-horizontal">
  <div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      <input [formControl]="myForm.find('title')" type="text" id="title" #title="ngForm" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="content" class="col-sm-2 control-label">Content</label>
    <div class="col-sm-10">
      <input [formControl]="myForm.find('content')" type="text" id="content" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="url" class="col-sm-2 control-label">Url</label>
    <div class="col-sm-10">
      <input [formControl]="myForm.find('url')" type="text" id="url" class="form-control">
    </div>
  </div>
  <button type="submit" [disabled]="!myForm.valid" class="btn btn-info">Add Article</button>
  <a (click)="onDeleteData()" class="btn btn-danger">Delete All Articles</a>
</form>
<h1>Filter</h1>
<input type="text" [(ngModel)]="filt" class="form-control">
<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-12">
    <ul class="without">
      <li *ngFor="let item of items | filter:filt" class="col-md-12 article">
        <a (click)="onDelete(item.id)" class="linkbut">x</a>
        <div class="row">
          <div class="col-md-11 title">{{item.title}}</div>
        </div>
        <div class="row">
          <div class="col-md-11 body">{{item.content | slice:0:100}} ...<a htef="#" style="cursor: pointer" (click)="articleMore(item.title, item.content, item.url)">More</a></div>
        </div>
        <hr/>
        <div class="row">
          <a href="{{item.url}}" class="col-md-12 url">{{item.url}}</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-8 col-sm-12 articles-detail" *ngIf="artSelect">
    <a (click)="onClose()" class="linkbut">x</a>
    <div class="title">{{articleTitle}}</div>
    <div class="body">{{articleContent}}</div>
    <hr/>
    <a class="url">{{articleUrl}}</a>
  </div>
</div>
